DEBUG_BLUEPILL/
DEBUG_NUCLEO-F103RB/
RELEASE_BLUEPILL/
RELEASE_NUCLEO-F103RB/
BLUEPILL/
NUCLEOF103RB/

# Eclipse workspace files
.project
.settings
.idea

FW/NUCLEO-F103RB.xml
FW/BLUEPILL.xml

# Docs
Docs/

# Python compiled files
*.pyc
dist/
build/
*.egg-info
*.eggs
__pycache__
.pytest_cache
